[Install]
WantedBy=multi-user.target

[Unit]
Description=GDPR constent fake unlocks

[Service]
WorkingDirectory=/home/pi/doorduino
User=pi
ExecStart=/home/pi/unlock-via-mqtt.pl
Restart=always
RestartSec=2
